:root {
  --color-games: #D6FB41;
  --color-secondary: #ebfca9;
}

body {
  font-family: 'Inter', sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
  background-color: #000000 !important;
  color: white
}

.nav-link {
  transition: all 0.3s ease;
  color: inherit;
}

.nav-link:hover {
  color: var(--color-games) !important; 
  color: inherit
}

